/quartus/db
/quartus/incremental_db
/quartus/output_files
/src/transcript
/synth/quartus/db
/synth/quartus/output_files
/synth/quartus/incremental_db/compiled_partitions

/synth/quartus/incremental_db
/synth/quartus/de2_adventure_demo/db
/synth/quartus/de2_adventure_demo/incremental_db/compiled_partitions
/synth/quartus/de2_adventure_demo/output_files
